@CHARSET "UTF-8";


#popActSel,
#popActSch{
	display: none;
}
/*
#act{
  display: none;
}
*/
/*ラベルの書式調整*/
[id^="lFont"]{
	font-weight: lighter;
	line-height : 0.7em;
}
.labelDef{
	font-weight: lighter;
}


/* Select,Calcボタン表示 */
#popActSch:not(:checked) ~ .popSel,
#popActSel:not(:checked) ~ .popCal,
#act:not(:checked) ~ .pop
{
  height: 0;
}
#popActSch:checked ~ .popSel,
#popActSel:checked ~ .popCal,
#act:checked ~ .pop
{
  height: 100%;
}
.popSel,.popCal,.pop{
  display: inline-block;
  overflow: hidden;
}

/*
.tableWd th,
.tableWd tr{
	white-space: nowrap;
	}
	*/
.tbRSbtn th:nth-child(1){
	width:10px;
	}

/*
.pointer-events{
	pointer-events : none;
}
*/

#test1:checked#test2:checked ~ .pointer-events{

	pointer-events : none;

}


