<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/css/style.css" th:href="@{/css/seigyo.css}" rel="stylesheet"/>
<!-- jquery -->
<script src="//code.jquery.com/jquery-3.2.1.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<title>test2</title>
</head>
<body>
<div class="container">

<div class="pointer-events">
<label for="t1">
<input type="checkbox" name="test0"/>test0
</label>
<a id="t1" href="#content1">content1の背景色と文字色を変えます</a>

<p>
<input id="test1" type="checkbox" name="test1"/>test1
</p>
<p>
<input id="test2" type="checkbox" name="test2"/>test2
</p>
<p>
<input id="test3" type="checkbox" name="test3"/>test3
</p>

</div>

</div>
</body>
</html>